.devcontainer
.github
.git
.vscode
build
coverage
node_modules
.c8rc.json
.dockerignore
.editorconfig
.env*
.gitignore
.markdownlint.yaml
.nvmrc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
default.env
Dockerfile
eslint.config.mjs
README.md
